<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>PHP-REST-API-JS</title>
  <!-- Bootstrap Core CSS -->
  <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
  <!-- Fonts CSS -->
  <link href="/assets/fonts/fonts.css" rel="stylesheet">
  <!-- Other CSS -->
  <link href="/assets/lib/pace/pace.css" rel="stylesheet">
  <link href="/assets/lib/morrisjs/morris.css" rel="stylesheet">
  <link href="/assets/lib/data-tables/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/assets/lib/dragula/dragula.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/assets/css/common.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="spa-app"></div>

<div id="spa-app-modals"></div>

<script data-main="assets/js/app" src="/assets/lib/requirejs/require.min.js"></script>
</body>
</html>
